In [1]:
import pandas as pd
import numpy as np

In [2]:
census = "Data/nst-est2019-alldata.csv"
censusdf = pd.read_csv(census, low_memory=False)
censusdf = pd.DataFrame(censusdf)

censusdf.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [3]:
ceny = censusdf[["REGION", "DIVISION", "NAME"]]
ceny

   REGION DIVISION                  NAME
0       0        0         United States
1       1        0      Northeast Region
2       2        0        Midwest Region
3       3        0          South Region
4       4        0           West Region
5       3        6               Alabama
6       4        9                Alaska
7       4        8               Arizona
8       3        7              Arkansas
9       4        9            California
10      4        8              Colorado
11      1        1           Connecticut
12      3        5              Delaware
13      3        5  District of Columbia
14      3        5               Florida
15      3        5               Georgia
16      4        9                Hawaii
17      4        8                 Idaho
18      2        3              Illinois
19      2        3               Indiana
20      2        4                  Iowa
21      2        4                Kansas
22      3        6              Kentucky
23      3        7             Louisiana
24      1        1                 Maine
25      3        5              Maryland
26      1        1         Massachusetts
27      2        3              Michigan
28      2        4             Minnesota
29      3        6           Mississippi
30      2        4              Missouri
31      4        8               Montana
32      2        4              Nebraska
33      4        8                Nevada
34      1        1         New Hampshire
35      1        2            New Jersey
36      4        8            New Mexico
37      1        2              New York
38      3        5        North Carolina
39      2        4          North Dakota
40      2        3                  Ohio
41      3        7              Oklahoma
42      4        9                Oregon
43      1        2          Pennsylvania
44      1        1          Rhode Island
45      3        5        South Carolina
46      2        4          South Dakota
47      3        6             Tennessee
48      3        7                 Texas
49      4        8                  Utah
50      1        1               Vermont
51      3        5              Virginia
52      4        9            Washington
53      3        5         West Virginia
54      2        3             Wisconsin
55      4        8               Wyoming
56      X        X           Puerto Rico

In [4]:
ceny = ceny.rename(columns={'NAME':'State'})
ceny = ceny.drop(index = [0,1,2,3,4,56])
ceny.head()

  REGION DIVISION       State
5      3        6     Alabama
6      4        9      Alaska
7      4        8     Arizona
8      3        7    Arkansas
9      4        9  California

In [5]:
ceny["REGION"] = pd.to_numeric(ceny["REGION"])
ceny["DIVISION"] = pd.to_numeric(ceny["DIVISION"])

In [6]:
Regions = [
    (ceny['REGION'] <= 1),
    (ceny['REGION'] <= 2),
    (ceny['REGION'] <= 3),
    (ceny['REGION'] <= 4)
    ]
values = ['Northeast', 'Midwest', 'South', 'West']
ceny['Regions'] = np.select(Regions, values)

In [7]:
Divisions = [
    (ceny['DIVISION'] <= 1),
    (ceny['DIVISION'] <= 2),
    (ceny['DIVISION'] <= 3),
    (ceny['DIVISION'] <= 4),
    (ceny['DIVISION'] <= 5),
    (ceny['DIVISION'] <= 6),
    (ceny['DIVISION'] <= 7),
    (ceny['DIVISION'] <= 8),
    (ceny['DIVISION'] <= 9),
    ]
names = ['New England', 'Middle Atlantic', 'East North Central', 
          'West North Central','South Atlantic', 'East South Central',
          'West South Central', 'Mountain', 'Pacific']
ceny['Divisions'] = np.select(Divisions, names)

ceny.head()

   REGION  DIVISION       State Regions           Divisions
5       3         6     Alabama   South  East South Central
6       4         9      Alaska    West             Pacific
7       4         8     Arizona    West            Mountain
8       3         7    Arkansas   South  West South Central
9       4         9  California    West             Pacific

In [13]:
census_regions = ceny[["State", "Regions", "Divisions"]]
census_regions = census_regions.rename(columns={"Regions":'Region',"Divisions":"Division"})
census_regions.set_index(['State'])

                         Region            Division
State
Alabama                   South  East South Central
Alaska                     West             Pacific
Arizona                    West            Mountain
Arkansas                  South  West South Central
California                 West             Pacific
Colorado                   West            Mountain
Connecticut           Northeast         New England
Delaware                  South      South Atlantic
District of Columbia      South      South Atlantic
Florida                   South      South Atlantic
Georgia                   South      South Atlantic
Hawaii                     West             Pacific
Idaho                      West            Mountain
Illinois                Midwest  East North Central
Indiana                 Midwest  East North Central
Iowa                    Midwest  West North Central
Kansas                  Midwest  West North Central
Kentucky                  South  East South Central
Louisiana                 South  West South Central
Maine                 Northeast         New England
Maryland                  South      South Atlantic
Massachusetts         Northeast         New England
Michigan                Midwest  East North Central
Minnesota               Midwest  West North Central
Mississippi               South  East South Central
Missouri                Midwest  West North Central
Montana                    West            Mountain
Nebraska                Midwest  West North Central
Nevada                     West            Mountain
New Hampshire         Northeast         New England
New Jersey            Northeast     Middle Atlantic
New Mexico                 West            Mountain
New York              Northeast     Middle Atlantic
North Carolina            South      South Atlantic
North Dakota            Midwest  West North Central
Ohio                    Midwest  East North Central
Oklahoma                  South  West South Central
Oregon                     West             Pacific
Pennsylvania          Northeast     Middle Atlantic
Rhode Island          Northeast         New England
South Carolina            South      South Atlantic
South Dakota            Midwest  West North Central
Tennessee                 South  East South Central
Texas                     South  West South Central
Utah                       West            Mountain
Vermont               Northeast         New England
Virginia                  South      South Atlantic
Washington                 West             Pacific
West Virginia             South      South Atlantic
Wisconsin               Midwest  East North Central
Wyoming                    West            Mountain